alfresco.version=4.0.2
alfresco.sdk.dir=/Users/cpaul/dev/alfresco/${alfresco.version}/sdk
alfresco.sdk.remote.dir=${alfresco.sdk.dir}/lib/remote
alfresco.sdk.server.dir=${alfresco.sdk.dir}/lib/server
tomcat.webapps.dir=${root.dir}/../../../tomcat/webapps
alfresco.web.dir=${tomcat.webapps.dir}/share
alfresco.war.path=${tomcat.webapps.dir}/share.war
yui-compressor=/Users/cpaul/dev/tools/yuicompressor-2.4.2.jar